<base-card #baseCard>
  <div header>TARIFAS VIGENTES</div>
  <div body>
    <form [formGroup]="tarifasForm" (ngSubmit)="salvar()">
      <div class="row form-group">
        <label class="label col-sm-3">Bandeirada</label>
        <div class="col-sm-9">
          <input 
            class="form-control" 
            formControlName="bandeirada" 
            type="text"
            currencyMask
            nbInput 
            placeholder="Valor da bandeirada">
          <div *ngIf="bandeirada.invalid && (bandeirada.dirty || bandeirada.touched)" class="alert alert-danger">
            <div *ngIf="bandeirada.errors.required">Valor obrigatório.</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="label col-sm-3">Bandeira 1</label>
        <div class="col-sm-9">
          <input 
            class="form-control" 
            formControlName="kmRodadoBandeira1" 
            type="text" 
            currencyMask
            nbInput 
            placeholder="Valor do Km rodado na bandeira 1">
          <div *ngIf="kmRodadoBandeira1.invalid && (kmRodadoBandeira1.dirty || kmRodadoBandeira1.touched)" class="alert alert-danger">
            <div *ngIf="kmRodadoBandeira1.errors.required">Valor obrigatório.</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="label col-sm-3">Adicional domingos, feriados, noturno</label>
        <div class="col-sm-9">
          <input 
            class="form-control" 
            formControlName="kmRodadoBandeira2" 
            type="text" 
            currencyMask
            nbInput 
            placeholder="Valor do Km rodado na bandeira 1">
          <div *ngIf="kmRodadoBandeira2.invalid && (kmRodadoBandeira2.dirty || kmRodadoBandeira2.touched)" class="alert alert-danger">
            <div *ngIf="kmRodadoBandeira2.errors.required">Valor obrigatório.</div>
          </div>
        </div>
      </div>
      <!-- <div class="row form-group">
        <label class="label col-sm-3">Hora parada</label>
        <div class="col-sm-9">
          <input 
            class="form-control" 
            formControlName="horaParada" 
            type="text" 
            currencyMask
            nbInput 
            placeholder="Valor da hora parada">
          <div *ngIf="horaParada.invalid && (horaParada.dirty || horaParada.touched)" class="alert alert-danger">
            <div *ngIf="horaParada.errors.required">Valor obrigatório.</div>
          </div>
        </div>
      </div> -->
      <div class="row form-group">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" nbButton status="primary">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</base-card>
