<div class = "row p-3">
    <button nbButton size="giant" hero status="success" (click)="comporNovaMensagem()">Nova mensagem</button>
</div>
<nb-tabset>
    <nb-tab tabTitle="Recebidas">

        <nb-alert status="info" *ngIf="caixaEntrada.length === 0 || caixaEntrada == null || caixaEntrada == undefined">
            Não há mensagens
        </nb-alert>
        
        <div *ngIf="caixaEntrada && caixaEntrada.length > 0">
            <ngx-caixa-mensagens 
                [mensagens]="caixaEntrada"
                (requestPage)="obterMensagensRecebidas($event, paginacaoEntrada.itensPerPage)"
                (itemsPerPageChange)="obterMensagensRecebidas(paginacaoEntrada.page, $event)"
                [totalItems]="totalEntrada"
                [currentPage]="paginacaoEntrada.page"
                (messageOpened)="abrirMensagemEntrada($event)">
                <ng-template #msg_summary let-mensagem>
                    <div class="row">
                        <div class="col-3">{{mensagem.nomeRemetente}}</div>
                        <div class="col-7">{{mensagem.assunto}}</div>
                        <div class="col-2">{{mensagem.dataEnvio}}</div>
                    </div>
                </ng-template>
                <ng-template #msg_body let-mensagem>
                    {{mensagem.corpo}}
                </ng-template>
            </ngx-caixa-mensagens>
        </div>

    </nb-tab>
    <nb-tab tabTitle="Enviadas">

        <nb-alert status="info" *ngIf="caixaSaida.length === 0 || caixaSaida == null || caixaSaida == undefined">
            Não há mensagens
        </nb-alert>
        
        <div *ngIf="caixaSaida && caixaSaida.length > 0">
            <ngx-caixa-mensagens 
                [mensagens]="caixaSaida"
                (requestPage)="obterMensagensEnviadas($event, paginacaoSaida.itensPerPage)"
                (itemsPerPageChange)="obterMensagensEnviadas(paginacaoSaida.page, $event)"
                [totalItems]="totalSaida"
                [currentPage]="paginacaoSaida.page">
                <ng-template #msg_summary let-mensagem>
                    <div class="row align-items-center">
                        <div class="col-3">{{mensagem.formatarDestinatarios()}}</div>
                        <div class="col-7">{{mensagem.assunto}}</div>
                        <div class="col-2">{{mensagem.dataEnvio}}</div>
                    </div>
                </ng-template>
                <ng-template #msg_body let-mensagem>
                    {{mensagem.corpo}}
                </ng-template>
            </ngx-caixa-mensagens>
        </div>

    </nb-tab>
</nb-tabset>
  
