<nb-layout>
    <nb-layout-column>
            <div class="col-md-6 offset-md-3 text-center">
        <nb-card>
            <nb-card-body>
                    <h1>TÔdeTaxi ADMIN</h1>
                    <img src="/assets/images/to_de_taxi_logo.png" width="150px" class="logo-img">
                    <br/>                    
                    <br/>
                    <p>Desculpe, você não tem autorização para acessar este recurso!</p>
                    <br/>
                    <p>Consulte o admnistrador do sistema.</p>
                    <br/>
            </nb-card-body>
        </nb-card>
    </div>
    </nb-layout-column>
</nb-layout>