<div class="container">
  <div class="row h4 nome" (click)="selecionar()">{{taxista && taxista.usuario ? taxista.usuario.nome : "Desconhecido" }}</div>
  <div class="row sumario">
    <div class="propriedade">
      <div class="nome_propriedade">RG</div>
      <div class="valor_propriedade">{{ taxista ? taxista.rg : "N/I" }}</div>
    </div>
    <div class="propriedade">
      <div class="nome_propriedade">CPF</div>
      <div class="valor_propriedade">{{ taxista ? taxista.cpf : "N/I" }}</div>
    </div>
    <div class="propriedade">
      <div class="nome_propriedade">TELEFONE</div>
      <div class="valor_propriedade">{{ taxista ? taxista.usuario.telefone : "N/I" }}</div>
    </div>
  </div>
  <nb-icon class="deletar" icon="trash-2-outline" [options]="{ animation: { type: 'zoom' } }" (click)="deletar()"></nb-icon>
</div>
