<nb-layout class="overlay">
  <nb-layout-column class="overlay">
    <div class="row">
      <div class="col-md-5">
        <base-card #card_listagem>
          <div header>TAXISTAS ({{quantidadeTaxistas}})</div>
          <div body class="container">
            <div class="row actions">
              <nb-actions size="small" class="col-auto">
                <nb-action [nbTooltip]="exibirFiltros ? 'Ocultar filtros' : 'Exibir filtros'" class="col-auto" icon="funnel-outline" (click)="exibirFiltros = !exibirFiltros"></nb-action>
                <nb-action nbTooltip="Adicionar taxista" [disabled]="!podeCriar" nbButton class="col-auto" icon="plus-square-outline" (click)="criar()"></nb-action>
              </nb-actions>
            </div>
            <div class="row filtros" *ngIf="exibirFiltros">
              <form class="container">
                  <div class="row">
                    <label class="label col-sm-3">Nome</label>
                    <input class="col inputSearch" nbTooltip="Pesquisar" #pesquisaTaxista fullWidth type="text" nbInput shape="semi-round" placeholder="Pesquisar..." [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPesquisa">
                    <nb-action nbTooltip="Limpar filtro" class="col-auto" icon="close-outline" (click)="filtroPesquisa=''" [disabled]="!pesquisaTaxista.value"></nb-action>
                  </div>
                  <div class="row">
                    <label class="label col-sm-3">Situação</label>
                    <nb-select class="col" placeholder="Filtrar por situação" filled status="primary" fullWidth shape="semi-round" [(selected)]="filtroSituacao">
                      <nb-option [value]="null">Todos</nb-option>
                      <nb-option [value]="true">Ativos</nb-option>
                      <nb-option [value]="false">Inativos</nb-option>
                    </nb-select>
                    <nb-action nbTooltip="Limpar filtro" class="col-auto" icon="close-outline" (click)="filtroSituacao=null" [disabled]="filtroSituacao === null"></nb-action>
                  </div>                              
                  <div class="row">
                    <label class="label col-sm-3">Ponto de táxi</label>
                    <nb-select class="col" placeholder="Filtrar por ponto de táxi" filled status="primary" fullWidth shape="semi-round" [(selected)]="filtroPontoTaxi">
                      <nb-option [value]="null">Nenhum</nb-option>
                      <nb-option [value]="todosPontosTaxi">Todos</nb-option>
                      <nb-option *ngFor="let ptTx of pontosTaxi" [value]="ptTx">{{ptTx.nome}}</nb-option>
                    </nb-select>
                    <nb-action nbTooltip="Limpar filtro" class="col-auto" icon="close-outline" (click)="filtroPontoTaxi=undefined" [disabled]="filtroPontoTaxi === undefined"></nb-action>
                  </div>                              
                  <div class="row">
                    <div class="offset-sm-3 col-sm-9">
                      <button nbButton fullWidth status="info" shape="semi-round" (click)="limparFiltros()">Limpar filtros</button>
                    </div>
                  </div>
              </form>
            </div>
            <div class="row">
              <nb-list class="col own-scroll"
                nbInfiniteList
                [threshold]="500">
                <nb-list-item *ngFor="let taxista of taxistasPesquisa">
                  <div class="container">
                    <div class="row h4 nome">
                      <div class="col-8 nome_taxista" (click)="visualizar(taxista)">
                        {{taxista.usuario ? taxista.usuario.nome : "Desconhecido" }}
                      </div>
                      <div class="col-4">
                        <nb-actions class="actions_taxista" size="small">
                          <nb-action nbTooltip="Enviar mensagem" icon="message-circle-outline" (click)="enviarMensagem(taxista)"></nb-action>
                          <nb-action nbTooltip="Remover" icon="trash-2-outline" (click)="deletar(taxista)"></nb-action>
                          <nb-action nbTooltip="Modificar" [disabled]="!podeEditar" icon="edit-2-outline" (click)="editar(taxista)"></nb-action>
                          <nb-action [nbTooltip]="taxista.ativo ? 'Desativar' : 'Ativar'" [icon]="taxista.ativo ? 'toggle-right' : 'toggle-left-outline'" (click)="ativar(taxista, !taxista.ativo)"></nb-action>
                        </nb-actions>
                      </div>
                    </div>
                    <div class="row sumario">
                      <div class="col propriedade">
                        <div class="nome_propriedade">RG</div>
                        <div class="valor_propriedade">{{ taxista.usuario.rg }}</div>
                      </div>
                      <div class="col propriedade">
                        <div class="nome_propriedade">CPF</div>
                        <div class="valor_propriedade">{{ taxista.usuario.cpf }}</div>
                      </div>
                      <div class="col propriedade">
                        <div class="nome_propriedade">TELEFONE</div>
                        <div class="valor_propriedade">{{ taxista.usuario.telefone }}</div>
                      </div>
                      <div class="col">
                        <nb-user
                          size="giant"
                          [picture]="taxista['foto']?.dados"
                          onlyPicture="taxista['foto'] !== undefined"
                          shape="rectangle">
                        </nb-user>
                      </div>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>
            <br/>
            <br/>
            <nb-alert status="info" *ngIf="taxistas.length === 0 || taxistas == null || taxistas == undefined">
              Sem registros para exibir
            </nb-alert>
          </div>
        </base-card>
      </div>
      <div class="col-md-7">
        <base-card #card_detalhes>
          <div header>DETALHES DE {{taxista && taxista.usuario ? taxista.usuario.nome.toUpperCase() : "NOVO TAXISTA"}}</div>
          <div class="container" body>
            <nb-actions size="small" >
              <nb-action [disabled]="!podeConfirmar" nbTooltip="Salvar alterações" icon="checkmark-outline" (click)="confirmarEdicao()" ng-show="modo !== Modo.mdVisualizacao"></nb-action>
              <nb-action [disabled]="!podeCancelar" nbTooltip="Descartar alterações" icon="close-outline" (click)="cancelarEdicao()" ng-show="modo !== Modo.mdVisualizacao"></nb-action>
              <nb-action icon="arrowhead-down-outline" nbTooltip="Expandir abas"  (click)="expandir()"></nb-action>
              <nb-action icon="arrowhead-up-outline" nbTooltip="Encolher abas"  (click)="encolher()"></nb-action>
            </nb-actions><br>

            <nb-accordion multi #abas>
              <nb-accordion-item>
                <nb-accordion-item-header>
                    Informações pessoais
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <ngx-form-usuario class="formulario" #formUsuario
                    [desabilitarControles]="desabilitarControles"
                    [usuario]="usuario">
                  </ngx-form-usuario>
                </nb-accordion-item-body>
              </nb-accordion-item>

              <nb-accordion-item>
                <nb-accordion-item-header>
                    Endereço
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <ngx-form-endereco class="formulario" #formEndereco
                    [desabilitarControles]="desabilitarControles"
                    [endereco]="endereco">
                  </ngx-form-endereco>
                </nb-accordion-item-body>
              </nb-accordion-item>

              <nb-accordion-item [hidden]="modo === enumModo.mdVisualizacao">
                <nb-accordion-item-header>
                    Credenciais
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <ngx-form-credenciais class="formulario" #formCredenciais
                    [desabilitarControles]="desabilitarControles"
                    [validarSenhaAnterior]="validarSenhaAnterior"
                    [credenciais]="credenciais">
                  </ngx-form-credenciais>
                </nb-accordion-item-body>
              </nb-accordion-item>

              <nb-accordion-item>
                <nb-accordion-item-header>
                    Foto
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <ngx-form-foto class="formulario" #formFoto
                    [alturaImagem]="200"
                    [desabilitarControles]="desabilitarControles"
                    [foto]="foto">
                  </ngx-form-foto>
                </nb-accordion-item-body>
              </nb-accordion-item>

              <nb-accordion-item [hidden]="modo !== enumModo.mdVisualizacao">
                <nb-accordion-item-header>
                    Veículos associados
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <ngx-veiculos-taxista [taxista]="taxista"></ngx-veiculos-taxista>
                </nb-accordion-item-body>
              </nb-accordion-item>

              <nb-accordion-item [hidden]="modo !== enumModo.mdVisualizacao">
                <nb-accordion-item-header>
                    Ponto de táxi
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <ngx-ponto-taxi [taxista]="taxista"></ngx-ponto-taxi>
                </nb-accordion-item-body>
              </nb-accordion-item>
  
            </nb-accordion>
            
      
            <!--nb-card>
              <nb-card-header>Informações pessoais</nb-card-header>
              <nb-card-body>
                <ngx-form-usuario class="formulario" #formUsuario
                  [desabilitarControles]="desabilitarControles"
                  [usuario]="usuario">
                </ngx-form-usuario>
              </nb-card-body>
            </nb-card>
      
            <nb-card>
              <nb-card-header>Endereço</nb-card-header>
              <nb-card-body>
                <ngx-form-endereco class="formulario" #formEndereco
                  [desabilitarControles]="desabilitarControles"
                  [endereco]="endereco">
                </ngx-form-endereco>
              </nb-card-body>
            </nb-card>
            
            <nb-card>
              <nb-card-header>Credenciais</nb-card-header>
              <nb-card-body>
                <ngx-form-credenciais class="formulario" #formCredenciais
                  [desabilitarControles]="desabilitarControles"
                  [validarSenhaAnterior]="validarSenhaAnterior"
                  [credenciais]="credenciais">
                </ngx-form-credenciais>
              </nb-card-body>
            </nb-card>
      
            <nb-card>
              <nb-card-header #cardFoto>Foto</nb-card-header>
              <nb-card-body>
                <div class="row">
                <ngx-form-foto class="formulario" #formFoto
                  [alturaImagem]="200"
                  [desabilitarControles]="desabilitarControles"
                  [foto]="foto">
                </ngx-form-foto>
              </div>
              </nb-card-body>
            </nb-card-->
      
          </div>
          <div footer>
            <span>* (campo obrigatório)</span>
          </div>
        </base-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>



