<form [formGroup]="form" class="container">
    <fieldset [disabled]="desabilitarControles">
      
      <div class="row">
        <img class="foto" [src]="imgSrc" [attr.height]="alturaImagem"/>
        <label nbButton status="primary" class="image-upload-container btn btn-bwm">
          <span>Selecionar imagem</span>
          <input #imageInput
                type="file"
                accept="image/*"
                (change)="processFile(imageInput)">
        </label>
      </div>
    </fieldset>
</form>
