<form [formGroup]="form" class="container">
  <fieldset [disabled]="desabilitarControles">
      <div class="row" style="height: 20rem">
        <button type="button" nbButton (click)="uploader.click()" status="primary" *ngIf="!readOnly && !edit" class="form-control" (click)="stopEdit()">Selecionar foto</button>
        <input type="file" #uploader class="uploader" (change)="fileChangeEvent($event)" />

        <image-cropper *ngIf="edit"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 4"
            [resizeToWidth]="300"
            imageQuality="15"
            format="jpeg"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
        <button type="button" nbButton *ngIf="edit" class="form-control" (click)="stopEdit()">Ok</button>
        <img *ngIf="!edit" width="200px" height="200px" [src]="croppedImage ? croppedImage : '/assets/images/foto_padrao.png'" />
    </div>
  </fieldset>
</form>