<base-card>
	<div header>Taxistas</div>
	<div body>
		<div class="container actions">
			<nb-actions size="small" class="row">
					<nb-action class="col">
						<input type="text" nbInput fullWidth shape="semi-round" placeholder="Pesquisar...">
					</nb-action>
					<nb-action class="col-auto" icon="search-outline"></nb-action>
			</nb-actions>
		</div>
		<nb-list class="own-scroll"
			nbInfiniteList
			[threshold]="500">
			<nb-list-item *ngFor="let taxista of taxistas">
				<ngx-item-listagem-taxista [taxista]="taxista"></ngx-item-listagem-taxista>
			</nb-list-item>		
		</nb-list>
	</div>
</base-card>
